<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthrecord">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HealthRecord"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".StepCounter"></activity>
        <activity android:name=".SearchRecord" />
        <activity android:name=".PreviewInfo" />
        <activity android:name=".About" />
        <activity android:name=".Notification" />
        <activity android:name=".Personal_info" />
        <activity android:name=".SignIn" />
        <activity android:name=".Profile" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>